<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DojoPuzzles</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dojo Puzzles", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (@ViewBag.Title == "Home Page")
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin-top: 7px !important;">
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Dojo Puzzles
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>@Html.ActionLink("Analisando a conjectura de Collatz", "CollatzCreate", "Collatz")</li>
                                    <li>@Html.ActionLink("Ano Bissexto", "BissextoCreate", "Bissexto")</li>
                                    <li>@Html.ActionLink("Calculando estatísticas simples", "EstatisticasCreate", "Estatisticas")</li>
                                    <li>@Html.ActionLink("Encontre o telefone", "EncontreTelefoneCreate", "EncontreTelefone")</li>
                                    <li>@Html.ActionLink("Entradas no Banco", "EntradasBancoCreate", "EntradasBanco")</li>
                                    <li>@Html.ActionLink("Escrevendo no Celular", "EscrevendoCelularCreate", "EscrevendoCelular")</li>
                                    <li>@Html.ActionLink("FizzBuzz", "FizzBuzzCreate", "FizzBuzz")</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
